# Byte-compiled / compiled Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env
*.env

# Django logs
logs/
*.log

# Database files
db.sqlite3
*.sqlite3

settings.py*
# Django static and media files
static/
media/

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Pip dependency files
pip-log.txt
pip-delete-this-directory.txt

# Migrations (optional)
*/migrations/*.pyc
*/migrations/__pycache__/

# Pytest / Coverage reports
.coverage
htmlcov/
*.cover

# Celery
celerybeat-schedule

# Docker
*.pid
*.sock
dist/
build/

# Node modules (if using frontend frameworks)
node_modules/

# Gunicorn / Supervisor
*.pid
*.log

# Local settings
settings_local.py
config/settings/local.py
