{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

    {% block link %}
    {% endblock link %}

    <style>
        html, body {
            overflow: hidden;
                    }
    </style>
    {% tailwind_css %}
</head>
<body class="w-full h-[calc(100vh-4rem)]"> 
    {% block content %}
        
    {% endblock content %}  
    
    
</body>
</html>